@charset "UTF-8";

/*
background image from:
http://tastingmysweetcreations.blogspot.com/2012/04/background-changes.html
*/

body {
	background-image: url('chevron-gray-turquoise2.png');
	font-family:Helvetica, Arial, sans-serif;
	color:#000;
	font-size:16px;
}

div, header {
	border-radius:5px; /* rounds edges */
	z-index:1;
	background-color:#FFF;
	opacity:0.7;
}

header {
	padding:20px;
	margin-top:50px;
	margin-left:8%;
	margin-right:8%;
	text-align:center;
}

#hover:hover, h3:hover, h1:hover, a:hover {
	color:#0CC; /* changes text color on hover of element */
}

a {
	color:#000;
}

.menu {
	display:block;
	margin-top:20px;
	margin-left:12%;
	margin-right:12%;
	padding:20px;
}

.menu div { /* all divs within the menu class */
	display:none; /* this is needed to have tabs closed by default */
	margin-left:5%;
	margin-right:5%;
}

#right {
	float:right;	
}