@charset "UTF-8";

body {
	color:#000;
	font-size:16px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	margin-top:2%;
	margin-bottom:2%;
}

header img {
	display:block;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

nav {
	text-align:center;
	margin-bottom:2%;
}

nav img {
	display:inline-block;
	width:10%;
}

table {
	margin-left:2%;
	margin-right:2%;
}

table img {
	width:100%;
}

.yellow {
	background-color:#FFFF99;
}

.blue {
	background-color:#99CCFF;
}

.green {
	background-color:#98e6a0;
}

.yellow, .blue, .green {
	padding:2%;
	overflow:auto;
}

td.yellow, td.blue, td.green, h2 {
	text-align:center;
}

.right img {
	float:right;
	padding-left:10%;
}

.left img {
	float:left;
	padding-right:10%;
}

.right img, .left img {
	padding-top:2%;
	padding-bottom:2%;
}

.right, .left {
	padding-left:10%;
	padding-right:10%;
	margin-left:2%;
	margin-right:2%;
}

#horiz {
	width:35%;
	display:inline-block;
}

#vert {
	width:25%;
	display:inline-block;
}

footer {
	text-align:center;
}

footer img {
	display:inline-block;
	width:10%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}