@charset "UTF-8";

body { /* universal */
	color:#000;
	font-size:16px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	margin-top:2%;
	margin-bottom:2%;
}

header img {
	display:block; /* centers the image within the header on the page, also scales if you resize the window */
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

nav {
	text-align:center; /* centers the nav that contains each shamrock */
	margin-bottom:2%;
}

nav img {
	display:inline-block; /* makes shamrocks appear next to each other */
	width:10%; /* adjusts width of each shamrock, also scales if you resize the window */
}

table {
	margin-left:2%;
	margin-right:2%;
}

table img {
	width:100%; /* makes each image in the table full width */
}

.yellow {
	background-color:#FFFF99;
}

.blue {
	background-color:#99CCFF;
}

.green {
	background-color:#98e6a0;
}

.yellow, .blue, .green {
	padding:2%;
	overflow:auto; /* makes each colored div big enough to hold the whole image, so image does not overflow into next div */
}

td.yellow, td.blue, td.green, h2 { /* yellow, blue, and green td elements and h2 */
	text-align:center;
}

.right img {
	float:right;
	padding-left:10%;
}

.left img {
	float:left;
	padding-right:10%;
}

.right img, .left img {
	padding-top:2%;
	padding-bottom:2%;
}

.right, .left {
	padding-left:10%;
	padding-right:10%;
	margin-left:2%;
	margin-right:2%;
}

#horiz {
	width:35%;
	display:inline-block;
}

#vert {
	width:25%;
	display:inline-block;
}

footer {
	text-align:center; /* centers the footer that contains the contact us shamrock */
}

footer img {
	display:inline-block; /* allows shamrock to be centered, did not use display:block because then whole width gets wrapped in the link; */
	width:10%; /* adjusts width of shamrock, also scales if you resize the window */
	margin-top:2%;
}